---
http_interactions:
- request:
    method: get
    uri: https://public.opendatasoft.com/api/records/1.0/search/?dataset=economicref-france-sirene-v3&q=123456789&refine.etablissementsiege=oui&sort=datederniertraitementetablissement
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '9999711825'
      X-Ratelimit-Limit:
      - '10000000000'
      X-Ratelimit-Reset:
      - '2024-09-18 00:00:00+00:00'
      Content-Language:
      - en-gb
    body:
      encoding: ASCII-8BIT
      string: '{"nhits": 0, "parameters": {"dataset": ["economicref-france-sirene-v3"],
        "q": "123456789", "rows": 10, "start": 0, "sort": ["datederniertraitementetablissement"],
        "refine": {"etablissementsiege": "oui"}, "format": "json", "timezone": "UTC"},
        "records": []}'
  recorded_at: Tue, 17 Sep 2024 09:31:25 GMT
recorded_with: VCR 6.3.1
